/* User Dashboard CSS */
.side-menu {
  position: fixed;
  background: #000;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width 0.2s ease-in;
}

.side-menu.inactive {
  width: 80px;
}

.side-menu .top-section {
  position: relative;
}

.side-menu .top-section .brand_name {
  max-width: 100%;
  max-height: 100%;
  color: #fff;
}

.side-menu .top-section .toggle-menu-btn {
  color: #0c33ce;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn {
  right: -50px;
}
.main-menu ul {
  margin: 0;
  padding: 0;
}
.main-menu li {
  list-style: none;
}
.side-menu .main-menu .menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.side-menu .main-menu .menu-item.active {
  background: #10257f;
  border-radius: 5px;
  color: #fff;
}

.side-menu .main-menu {
  margin: 5px 0;
  position: relative;
  max-height: 250px;
}
.side-menu .main-menu::-webkit-scrollbar {
  display: none;
}
.side-menu .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  color: #fff;
}
.side-menu.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.side-menu .main-menu .menu-item:hover {
  background: #4f5257;
  border-radius: 5px;
}
.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #333;
}
.dashboard_panel {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fafafc;
}
.dashboard_panel.inactive {
  margin-left: 80px;
}

/* User Dashboard CSS */
.dasboard_board {
  background-color: #fafafc;
}
.dashboard_item_container {
  display: flex;
}
.dasboard_item {
  width: 250px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 10px 31px 5px rgb(7 152 255 / 9%);
  cursor: pointer;
  border-width: 1;
}
.dasboard_item:hover {
  box-shadow: 0 10px 31px 5px rgb(7 152 255 / 20%);
}
.dasboard_item .dasboard_item_icon {
  font-size: 30px;
  margin-right: 10px;
}
.dashboard_item_content {
  display: flex;
  flex-direction: column;
  border-left: 2px solid #0c33ce;
  padding-left: 15px;
}
.dashboard_item_content p {
  margin: 0;
}
.profile_table {
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 10px 31px 5px rgb(7 152 255 / 9%);
  width: 50%;
}
.profile_info_header h4 {
  font-family: "Roboto Slab";
  line-height: 1;
  margin-right: 10px;
}
.profile_table ul {
  padding: 0;
  margin: 0;
}
.profile_table li {
  list-style: none;
}

.profile_table_head {
  padding: 20px;
}
.profile_table_head li {
  font-weight: bold;
  margin: 10px;
}
.profile_table_content {
  padding: 20px;
}
.profile_table_content li {
  margin: 10px;
}
/* My Properties start */
.dashboard_property_list_header {
  display: flex;
  align-items: center;
}
.dashboard_header h1 {
  font-family: "Roboto Slab";
  line-height: 1;
  margin-right: 10px;
}
.dashboard_property_list_header button {
  font-weight: 500;
  font-size: 15px;
  background-color: #071f88;
  color: #fff;
  border: none;
  font-style: italic;
  padding: 0 6px;
  line-height: 0;
  border-radius: 2px;
  height: 20px;
}
.dashboard_property_list_header_link {
  text-decoration: none;
  color: #fff;
}
.dashboard_property_list_header_link:hover {
  color: #fff;
}
.dashboard_property_list_header_icon {
  font-size: 12px;
  margin-right: 5px;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  font-family: "Roboto";
  width: 800px;
  /* min-width: 400px; */
  box-shadow: 0 10px 31px 5px rgb(7 152 255 / 20%);
}
.styled-table thead tr {
  background-color: #071f88;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.styled-table td img {
  width: 200px;
  height: 120px;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #0c33ce;
  color: #fff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #071f88;
}
.property_list_cta_buttons button {
  background-color: #595959d6;
  color: #fff;
  border: 1px solid #071f88;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 13px;
  padding: 8px 10px;
}
.property_list_cta_buttons button:hover {
  background-color: #fff;
  border: 1px solid #071f88;
  color: #222222;
}
/* My Properties end*/
/* Chnage Password Start */
.change_password_wrapper {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.change_password_content {
  background-color: #fff;
  box-shadow: 0 10px 31px 5px rgb(7 152 255 / 15%);
  border-radius: 5px;
  width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
}
.change_password_content h5 {
  margin-top: 20px;
  padding: 10px;
  font-family: "Roboto";
  font-weight: 500;
}
.change_password_content input {
  /* width: 50%; */
  margin: 10px;
  padding: 8px;
  background: #fafafc;
  border-radius: 4px;
}
.change_password_content input::placeholder {
  color: #10257f;
  font-family: "Roboto";
  font-size: 15px;
}
.change_password_content button {
  margin-top: 10px;
  margin-left: 10px;
  color: #fff;
  background-color: #10257f;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #10257f;
  padding: 8px 10px;
}
/* Chnage Password End */
/* Requirement section */

.requirement_wrapper {
  margin-top: 30px;
  display: flex;
  width: 800px;
  height: 500px;
  border-radius: 28px;
  background: #fff;
  box-shadow: 19px 19px 32px #daf0ff, -19px -19px 32px #daf0ff;
}
.requirement_content_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.requirement_content_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.select_wrappers {
  padding: 10px;
}
.select_wrappers label {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 15px;
  padding: 10px;
  letter-spacing: 1px;
}
.select_wrappers input {
  margin: 0 auto;
  width: 70%;
  padding: 8px;
  border-radius: 4px;
  border-color: #071f88;
}
.select_wrappers input::placeholder {
  color: #10257f;
  font-family: "Roboto";
  font-size: 15px;
}
.select_wrappers select {
  margin: 0 auto;
  width: 70%;
  padding: 8px;
  border-radius: 4px;
  border-color: #071f88;
}
.requirement_button {
  margin-top: 30px;
}
/* Requirement section */
/* loan status */

.loan_status_btn button {
  background-color: #d3d3d3;
  color: #222222;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  margin: 0 5px;
  font-size: 13px;
  padding: 8px 10px;
  font-weight: 500;
}
/* loan status */
/* Rabby */
.RjPropertiesImg2 {
  overflow: hidden;
  height: 150px;
}
.hide {
  display: none;
}
.undefined{
  display: none;
}
.closeButtonmain {
  position: relative;
}
.loseButtonaction {
  position: absolute;
  bottom: 0px;
  right: 0px;
 
}
.btn-close:hover {
  color: rgb(228, 9, 9) !important;
}