/* ........... Rabby Hasan.............. */
/* ....... Nav bar .............  */
.navItemCustom{
    position: relative;
    margin-right: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.navItemCustom:before{
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid rgb(7, 241, 78);
    transform:scale(0);
    transition:300ms ease-out;
}
.navItemCustom:hover:before{
    transform:scaleY(1);
}
.topNavbarCustom{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}   
.scrolltrue{
    padding: 5px 0px;
    background:white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39);
    transition: ease-in-out 0.6s all;
}
.scrollfalse{
    transition: ease-in-out 0.6s all;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.685);
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.685);
}
.scrolltrue.navbar-light .navbar-nav .nav-link {    
    color: rgba(0, 0, 0, 0.788);
}

.scrolltrue.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.788);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255);
}
.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255);
}
.scrolltrue.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(0, 0, 0);
}

.scrolltrue.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0);
}
/* ........... Header ...........  */
.sliderImg{
    position: relative;
    height: 100vh;
    box-sizing:  border-box;
}
.sliderBlack{
    position: relative;
    text-transform: uppercase;
}
.sliderBlack::after {
    content: "";
    background: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    top: 40%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    z-index: 100;
}
.sliderText{
    animation-name: moveLeft;
    animation-duration: 1.5s;
}

.sliderButton {
    font-size: 16px;
    border:2px solid white;
    border-radius: 4px;
    outline: none;
    background-color:#11cf90;
    color:black;
    padding:6px 25px;
    position: relative;
    transform: translateZ(0);
    animation-name: moveUp;
    animation-duration: 1s;
    cursor:pointer;
}
.sliderButton:before{
    content:"";
    position: absolute;
    border-radius: 4px;
    z-index: -1;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background: #eeff00;
    transform:scaleX(0);
    transition:300ms ease-out;
}
.sliderButton:hover:before{
    transform: scale(1);
}


@keyframes moveUp{
    0%{
        opacity:0;
        transform:translateY(50px);
    }
    100%{
        opacity:1;
        transform:translate(0px);
    }
}
@keyframes moveLeft{
    0%{
        opacity:0;
        transform:translateX(-100px);
    }
    100%{
        opacity:1;
        transform:translate(0px);
    }
}
/* ........... Rabby Hasan.............. */