/* ....... Nav bar .............  */
.MoboNav{
  display: none;
}
.navItemCustom {
  position: relative;
  margin-right: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.navItemCustom:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #ff783d;
  transform: scale(0);
  transition: 300ms ease-out;
}
.navItemCustom:hover:before {
  transform: scaleY(1);
}
.topNavbarCustom {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.scrolltrue {
  padding: 5px 0px;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39);
  transition: ease-in-out 0.6s all;
}
.scrolltrue {
  padding: 5px 0px;
  background: white;
  transition: ease-in-out 0.6s all;
}
.scrollfalse {
  transition: ease-in-out 0.6s all;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.685);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.685);
}
.scrolltrue.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.788);
}

.scrolltrue.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.788);
}

.navbar-light .navbar-nav .nav-link:hover {
  /* color: rgba(255, 255, 255); */
  color: #ff783d;
}
.navbar-light .navbar-brand:hover {
  /* color: rgba(255, 255, 255); */
  color: #ff783d;
}
.scrolltrue.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0);
}

.scrolltrue.navbar-light .navbar-brand:hover {
  color: rgba(0, 0, 0);
}
/* ........... Header ...........  */
.sliderImg {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
.sliderBlack {
  position: relative;
  text-transform: uppercase;
}
.sliderBlack::after {
  content: "";
  background: rgba(0, 0, 0, 0.521);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  top: 40%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  z-index: 100;
}
.sliderText {
  animation-name: moveLeft;
  animation-duration: 1.5s;
}

.sliderButton {
  font-family: "Roboto";
  font-size: 16px;
  border: 2px solid #ff783d;
  border-radius: 4px;
  outline: none;
  background-color: #ff783d;
  color: black;
  padding: 6px 25px;
  position: relative;
  transform: translateZ(0);
  animation-name: moveUp;
  animation-duration: 1s;
  cursor: pointer;
}
.sliderButton:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eeff00;
  transform: scaleX(0);
  transition: 300ms ease-out;
}
.sliderButton:hover:before {
  transform: scale(1);
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Dream Home Section  start*/
.dreamHomeHeader {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto";
}
.dreamHomeHeader h1 {
  color: #ff783d;
}
.imgDiv {
  width: 100%;
  height: 450px;
  position: relative;
}
.imgDiv img {
  width: 90%;
  height: 450px;
  box-sizing: border-box;
  z-index: 10;
}
.imgDiv::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 200px;
  background-image: url("../../images/DreamHome/dot.png");
  right: 0px;
  bottom: -40px;
  z-index: -1;
}

.dreamRightContent {
  /* padding-left: 50px; */
}
.quality {
  display: flex;
  margin-bottom: 50px;
}
.dreamIconMain {
  margin-right: 15px;
}
.dreamIcon {
  color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #efefef;
  height: 85px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: all 0.6s ease;
}
.dreamText {
  margin-top: 10px;
}
.dreamText h5 {
  padding-bottom: 0px;
}
.quality:hover .dreamIcon {
  color: rgb(116, 7, 241);
  border: 1px solid rgb(2, 102, 32);
}

.dreamCount {
  font-family: "Roboto";
  text-align: center;
}
.DreamNumber {
  font-size: 40px;
  font-weight: 600;
  color: #ff783d;
}
.NumberText {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}




/* ......... buying, selling or renting,.................  */
.RJBuySellRentHeader{
  position: relative;
}
.RjHeaderDownBar{
  position: absolute;
  width: 14%;
  height: 3px;
  background: #ff783d;
  bottom: -28px;
  left: 50%;
  transform: translate(-50%, 0);
}
.RjcustomCard{
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  width: 350px;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39);
  transition: ease 0.6s all;
}
.BSRSec .RjcustomCard:hover{
  margin-left:10px;
  margin-right:10px;
  margin-top:0px;
  margin-bottom:20px;
  box-shadow: 2px 20px 30px rgb(0 0 0 / 39%);
}
.RjcardLInk{
  text-decoration: none;
  color: black;
}
.RjcardLInk:hover{
  color: black;
}
.RJcardImg{
  box-sizing: border-box;
  margin-bottom: 20px;
}
.RJcustomcardButton{
  color: #000;
  background-color: #ffffff;
  border-color: #0d6efd;
  transition: ease 0.6s all; 
}

.RJcustomcardButton:hover{
  color: #000;
  background-color: #20db84;
  border-color: #0d6efd;
}


/* Dream Home Section  end*/
/* ........... Rabby Hasan.............. */

@media (min-width: 20px) and (max-width: 998px) { 
  .desktopNav{
    display: none;
  }
  .MoboNav{
    display: block;
  }
  .navbarBrandEdit{
    color:black !important;
  }
  .navItemCustom {
    color: black !important;
  }
  .moboShadow{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39);
    padding: 5px 10px;
  }
 }



