/* ....... Nav bar .............  */
.MoboNav {
  display: none;
}
.navItemCustom {
  position: relative;
  margin-right: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.navItemCustom:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #0c33ce;
  transform: scale(0);
  transition: 300ms ease-out;
}
.navItemCustom:hover:before {
  transform: scaleY(1);
}
.topNavbarCustom {
  padding: 15px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: #212b5b;
}
.scrolltrue {
  padding: 5px 0px;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39);
  transition: ease-in-out 0.6s all;
}
.offcanvas-end {
  width: 280px;
}
.scrollfalse {
  transition: ease-in-out 0.6s all;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.685);
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.685);
}
.scrolltrue.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.788);
}
.scrollfalse.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.788);
}

.scrolltrue.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.788);
}
.scrollfalse.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.788);
}

.navbar-light .navbar-nav .nav-link:hover {
  /* color: rgba(255, 255, 255); */
  color: #ff783d;
}
.navbar-light .navbar-brand:hover {
  /* color: rgba(255, 255, 255); */
  color: #ff783d;
}
.scrolltrue.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(0, 0, 0);
}
.scrollfalse.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(255, 255, 255);
}
.scrollfalse.navbar-light .navbar-brand:hover {
  color: rgb(255, 255, 255);
}
/* ........... Header ...........  */
.sliderImg {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
}
.sliderBlack {
  position: relative;
  text-transform: uppercase;
}
.sliderBlack::after {
  content: "";
  background: rgba(0, 0, 0, 0.521);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  top: 40%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  z-index: 100;
}
.sliderText {
  animation-name: moveLeft;
  animation-duration: 1.5s;
}

.sliderButton {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #10257f;
  border-radius: 3px;
  outline: none;
  background-color: #10257f;
  color: #fff;
  padding: 8px 30px;
  line-height: 2;
  position: relative;
  transform: translateZ(0);
  animation-name: moveUp;
  animation-duration: 1s;
  cursor: pointer;
}
.sliderButton:before {
  content: "";
  position: absolute;
  border-radius: 4px;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0c33ce;
  transform: scaleX(0);
  transition: 300ms ease-out;
}
.sliderButton:hover:before {
  transform: scale(1);
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

/* Dream Home Section  start*/
.dreamHome_wrapper {
  height: 90vh;
}
.RjDreamHomeTopHEader {
  padding-bottom: 50px;
}
.dreamHomeHeader {
  margin-top: 50px;
  margin-bottom: 70px;
  text-align: center;
}
.imgDiv {
  width: 100%;
  height: 450px;
  position: relative;
}
.imgDiv img {
  width: 90%;
  height: 450px;
  box-sizing: border-box;
  z-index: 10;
}
.imgDiv::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 200px;
  background-image: url("../../images/DreamHome/dot.png");
  right: 0px;
  bottom: -40px;
  z-index: -1;
}

.dreamRightContent {
  margin-top: 50px;
}
.quality {
  display: flex;
  margin-bottom: 50px;
}
.dreamIconMain {
  margin-right: 15px;
}
.dreamIcon {
  color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #fff;
  height: 85px;
  width: 85px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: all 0.6s ease;
  box-shadow: 0 10px 31px 0 rgb(7 152 255 / 10%);
}
.dreamText {
  margin-top: 10px;
}
.dreamText h5 {
  padding-bottom: 0px;
  color: #222222;
  font-family: "Roboto";
  font-weight: 550;
  font-size: 20px;
}
.quality:hover .dreamIcon {
  color: #10257f;
  box-shadow: 0 10px 31px 0 rgb(7 152 255 / 20%);
}
.dreamCount {
  font-family: "Roboto";
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
.DreamNumber {
  font-size: 40px;
  font-weight: 500;
  color: #10257f;
  font-family: "Roboto Slab";
}
.NumberText {
  color: #222222;
  font-size: 14px;
}

/* Dream Home Section  end*/

/* ......... buying, selling or renting,.................  */
.RJBuySellRentHeader {
  position: relative;
}
.RjHeaderDownBar {
  position: absolute;
  width: 14%;
  height: 3px;
  background: #0c33ce;
  bottom: -28px;
  left: 50%;
  transform: translate(-50%, 0);
}
.RjcustomCard {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  text-align: center;
  /* box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39); */
  box-shadow: 0px 0px 5px rgb(0 0 0 / 39%);
  transition: ease 0.6s all;
  overflow: hidden;
}
.RjagentsCardImg {
  height: 280px;
  box-sizing: border-box;
  overflow: hidden;
}
.BSRSec .RjcustomCard:hover {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  /* box-shadow: 2px 20px 30px rgb(0 0 0 / 39%); */
  box-shadow: 0px 5px 12px rgb(0 0 0 / 39%);
}
.RjcardLInk {
  text-decoration: none;
  color: black;
}
.RjcardLInk:hover {
  color: black;
}
.RJcardImg {
  box-sizing: border-box;
  margin-bottom: 20px;
}
.RjagentsCardImg {
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  box-sizing: border-box;
  transition: ease-in-out 0.6s all;
}
.RjcustomCard:hover .RjagentsCardImg {
  padding: 0px;
  transform: scale(1.1);
}
.RJcustomcardButton {
  color: #fff;
  background-color: #10257f;
  transition: ease 0.6s all;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid #10257f;
}

.RJcustomcardButton:hover {
  color: #fff;
  background-color: #0c33ce;
}
/* .............agents page................    */
/* .AgentPagesliderBlack {
    position: relative;
    text-transform: uppercase;
  }
  .AgentPagesliderBlack::after {
    content: "";
    background: rgba(0, 0, 0, 0.986);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  } */
.AgentPagesliderImg {
  position: relative;
  height: 70vh;
  box-sizing: border-box;
}
.AgentPageTextSlider {
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  z-index: 10;
  margin-top: 20px;
  font-family: "Roboto";
  letter-spacing: 2px;
}
.AgentPageTextSlider p {
  color: rgba(255, 255, 255, 0.932);
  letter-spacing: 2px;
  font-weight: 500;
}
.RjAgentsLeftIcon {
  float: left;
}
.RjAgentsrighttIcon {
  float: right;
}
.RjAgentPageSpan {
  color: rgb(47, 46, 46);
}
.RjAgentsPageIconSection a {
  color: #000000;
}
.RjAgentsPageIconSection a:hover {
  color: #0d6efd;
}

/* ........... Agents Section .................  */
.slick-prev:before,
.slick-next:before {
  color: #040101 !important;
}
.RJAgentCARD {
  width: 250px !important;
  height: 250px !important;
  text-align: center;
  transition: ease 54s all;
}
.RJcardDownText {
  background-color: red;
  padding-bottom: 50px;
}
.RJcardDownText p {
  color: black;
}
.RjAgentCardImg {
  position: relative;
  /* overflow: hidden; */
}
.AgentSlideImg {
  height: 250px;
}
/* .card-body {
  border: 10px solid red !important;
} */
.RjAgenticon {
  position: absolute;
  font-size: 22px;
  text-shadow: 2px 2px 2px rgb(22, 17, 17);
  bottom: -20px;
  transform: translate(-40%, 0);
  visibility: hidden;
  transition: ease-in-out 0.5s all;
  color: #2a2a2e;
}
.RjAgentIconOver a {
  text-decoration: none;
}
.AgentFacebbok {
  transition: ease-in-out 0.5s all;
  left: 40%;
}

.AgentEmail {
  transition: ease-in-out 0.7s all;
  left: 50%;
}
.AgentLinkend {
  transition: ease-in-out 0.9s all;
  left: 60%;
}
.RJAgentCARD:hover .RjAgenticon {
  bottom: 10px;
  visibility: visible;
}
.RjAgenticon:hover {
  color: rgb(25, 0, 255);
}

/* / Testimonials/ */
.RjtestimonialsHeading {
  /* color: #5b4e49f5; */
  color: #fff;
}
.RjtestimonislsBackgoround {
  background-color: #497af3eb;
}
.RjtestimonialsCol12 {
  padding-top: 30px;
  padding-bottom: 80px;
}
.RjuserTestimonials {
  border: red;
  padding: 20px;
  cursor: pointer;
}

.Rjtestimonialsbody {
  box-shadow: 0px 1px 7px #0798e117;
  padding: 20px;
  position: relative;
  transition: ease-in-out 0.6s all;
  color: #fff;
}
.Rjtestimonialsbody::before {
  content: "";
  position: absolute;
  top: 20px;
  bottom: 33px;
  left: 10px;
  border-left: 2px solid #ededed;
  transition: ease-in-out 0.6s all;
}
.Rjtestimonialsbody:hover {
  box-shadow: 0px 1px 7px #11111140;
}
.Rjtestimonialsbody:hover::before {
  /* border-left: 2px solid #11111140; */
  border-left: 2px solid #222222;
}
.RjtestimonialsPTest {
  min-height: 200px;
}
.Rjtestimonialsbody h6 {
  color: #222222;
}
/* ........... Rabby Hasan.............. */

@media (min-width: 20px) and (max-width: 998px) {
  .desktopNav {
    display: none;
  }
  .MoboNav {
    display: block;
  }
  .navbarBrandEdit {
    color: black !important;
  }
  .navItemCustom {
    color: black !important;
  }
  .moboShadow {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.39);
    padding: 5px 10px;
  }
}
