/*.............. Footer Section ...........*/
.footer_wrapper {
  color: #fff;
  background-color: #0d263c;
}

.footer_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 0;
}
.company_header {
  width: 350px;
  border-right: 2px solid #45484e;
}
.company_header h1 {
  text-transform: uppercase;
}
.c_logo {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 8px;
  line-height: 0;
}
.c_logo_2 {
  font-size: 25px;
  opacity: 0.5;
  letter-spacing: 2px;
}
.company_header p {
  width: 70%;
  text-align: justify;
  text-justify: auto;
}
.footer_column {
  margin: 30px;
}
.footer_column h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 33px;
}
.footer_column ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer_column ul li {
  font-size: 16px;
  margin-bottom: 13px;
  opacity: 0.7;
}
.copyright_section {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  color: #676767;
  font-family: "Lato", sans-serif;
  padding: 5px 35px;
}

/*.............. Contact Section ...........*/

.contact_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  background-image: url("../../images/bg234.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}
.left_side {
  width: 30%;
}
.form_wrapper {
  height: 450px;
  width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group {
  position: relative;
  margin-bottom: 20px;
  font-family: "Mukta", sans-serif;
}
.contact_input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
.contact_input:focus {
  outline: none;
}

/* LABEL ================*/
.contact_label {
  color: #999;
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.contact_input:focus ~ .contact_label,
.contact_input:valid ~ .contact_label {
  top: -10px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ============== */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #10257f;
  transition: 0.2s ease all;
  -moz-transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}
.button_wrap button {
  border: none;
  padding: 13px 100px;
  background-color: #ff783d;
  opacity: 0.9;
}
.button_wrap button:hover {
  opacity: 1;
}

/* LOGIN SECTION */
.login_wrapper {
  background-image: url(../../images/Authentication_images/bg-white-3.png);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_card {
  height: 600px;
  width: 390px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto Slab";
  font-weight: 100;
}
.login_header {
  text-align: center;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_button_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_button_wrap button {
  border: none;
  padding: 13px 80px;
  background: #10257f;
  opacity: 0.9;
  color: #ffffff;
  border-radius: 30px;
  opacity: 1;
}
.login_button_wrap button:hover {
  opacity: 0.9;
}

/* LOGIN SECTION */

/* SIGNUP SECTION */

.signup_header {
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_wrapper {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 5px;
}
.social_wrapper p {
  margin-bottom: 0;
}
.social_links {
  font-size: 40px;
}
.social_icons1 {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  margin: 10px;
  background: #e72734;
}
.social_icons2 {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  margin: 10px;
  background: #3b5998;
}
.social_icons3 {
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  margin: 10px;
  background: #1da0f2;
}
/* SIGNUP SECTION */
/******************* RESPONSIVE BREAKPOINTS ********************/
@media only screen and (max-width: 600px) {
  /* CONTACT SECTION */
  .contact_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .left_side {
    width: 80%;
    padding: 20px;
    margin-top: 10px;
  }
  .form_wrapper {
    height: 420px;
    width: 320px;
  }
  .button_wrap button {
    padding: 13px 40px;
    margin-bottom: 10px;
  }
  /* CONTACT SECTION */

  /* FOOTER SECTION */
  .footer_section {
    flex-direction: column;
    display: block;
    padding: 60px 0;
  }
  .company_header {
    text-align: center;
    margin: 0 auto;
    width: 300px;
    border-right: 0;
  }
  .company_header p {
    width: 100%;
    padding: 20px;
  }
  .footer_column {
    margin-top: 30px;
  }
  /* FOOTER SECTION */
}
