.sliderImg{
    position: relative;
    height: 100vh;
    box-sizing:  border-box;
}
.sliderBlack{
    position: relative;
    text-transform: uppercase;
}
.sliderBlack::after {
    content: "";
    background: rgba(0, 0, 0, 0.521);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    top: 40%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    z-index: 100;
}

.sliderButton{
    text-decoration: none;
    color: #fff;
    background-color: rgba(0, 255, 255, 0.616);
    padding:10px 30px;
    border-radius: 4px;
    margin-top: 20px;
    font-weight: 500;
    transition: ease 0.6s all;
}
.sliderButton:hover{
    color: black;
}