.navItemCustom{
    margin-right: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}
.navItemCustom:hover{
    color: rgba(255, 255, 255, 0.);
    border-bottom: 2px solid rgba(11, 207, 60, 0.788);
    transition: ease 1s all;
}
.topNavbarCustom{
    padding: 20px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}   
.scrolltrue{
    padding: 5px 0px;
    background:white;
    transition: ease-in-out 0.6s all;
}
.scrollfalse{
    transition: ease-in-out 0.6s all;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.scrolltrue.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.scrolltrue.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}