@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fafafc;
}
.navSpace {
  padding-top: 70px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5e5e;
  border-radius: 10px;
  border-right: 2px white solid;
  background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
.p_heading {
  color: #222222;
}
.p_font {
  font-family: "Roboto";
}
.s_font {
  font-family: "Roboto Slab";
}
.p_bg {
  background-color: #edefea;
}

.section_headers h1 {
  color: #222222;
  font-family: "Roboto Slab";
  font-size: 30px;
  line-height: 1.2em;
  text-align: center;
}
.route_links {
  text-decoration: none;
}
/* background-color: #fafafc
  button background color: #10257f
  button background hover color: #0C33CE
  Primary font : Roboto
  primary font weight : 600
  Secondary font : Roboto Slab
  secondary font weight : 400
  heading color : #222222
   background: #008dff
  */
/* window.scrollTo(0, 0); */
