/* AdminDashboard */
.side-menu {
  position: fixed;
  background: #000;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width 0.2s ease-in;
}

.side-menu.inactive {
  width: 80px;
}

.side-menu .top-section {
  position: relative;
}

.side-menu .top-section .brand_name {
  max-width: 100%;
  max-height: 100%;
  color: #fff;
}

.side-menu .top-section .toggle-menu-btn {
  color: #0c33ce;
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn {
  right: -50px;
}
.main-menu ul {
  margin: 0;
  padding: 0;
}
.main-menu li {
  list-style: none;
}
.side-menu .main-menu .menu-item {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.side-menu .main-menu .menu-item.active {
  background: #10257f;
  border-radius: 5px;
  color: #fff;
}

.side-menu .main-menu {
  margin: 5px 0;
  position: relative;
  max-height: 250px;
}
.side-menu .main-menu::-webkit-scrollbar {
  display: none;
}
.side-menu .main-menu .menu-item .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span {
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
  color: #fff;
}
.side-menu.inactive .main-menu .menu-item span {
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
.side-menu .main-menu .menu-item:hover {
  background: #4f5257;
  border-radius: 5px;
}
.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #333;
}
.dashboard_panel {
  margin-left: 300px;
  transition: margin-left 0.2s ease-in;
  padding: 50px;
  box-sizing: border-box;
  background-color: #fafafc;
}
.dashboard_panel.inactive {
  margin-left: 80px;
}
/* AdminDashboard */
